DATABASE_URL=REPLACE_WITH_SECRET
AUTH_SECRET=REPLACE_WITH_SECRET
GOOGLE_OAUTH_CLIENT_ID=REPLACE_WITH_SECRET
GOOGLE_OAUTH_CLIENT_SECRET=REPLACE_WITH_SECRET
GOOGLE_OAUTH_REDIRECT_URL=https://REPLACE_WITH_HOST/api/admin/auth/google/callback
